/* body {
    background: rgb(4, 2, 10);
} */

.images {
    height: 200px;
    filter: drop-shadow(0 0 0.75rem rgb(14, 13, 14));
    border-radius: 30px;
}

.cancel {
    text-align-last: right;
}

/* approve and reject btn styles in from approval table */

.approve_btn {
    background: rgb(4, 4, 32) !important;
    border: 1px solid white !important;
    border-radius: 50px !important;
    font-weight: 500 !important;
    padding: 0.3rem !important;
    color: var(--text-color);
    font-size: 1rem;
    width: 100px;
    text-transform: capitalize;
}
  
.reject_btn {
    background: rgb(64, 14, 14) !important;
    border: 1px solid white !important;
    border-radius: 50px !important;
    font-weight: 500 !important;
    padding: 0.3rem !important;
    color: var(--text-color);
    font-size: 1rem;
    text-transform: capitalize;
    width: 100px;
}
 
.approve_btn:hover,
.reject_btn:hover {
    background: rgb(255, 255, 255) !important;
    color: #000000 !important;
    border: 1px solid black !important;
    border-radius: 50px !important;
    font-weight: 500 !important;
    padding: 0.3rem !important;
}

.package_inputs {
    align-content: center;
}

.std-container{
    padding: 0 10vw;
    display: flex;
}

.std-packages{
    /* flex: 0 0 auto; */
    width: 400px;
    height: 420px;
    /* background-color: lightgrey; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    margin: 20px;
    text-align: center;
    padding: 10px;
    /* border: rgba(0, 0, 0, 0.2); */
    border-radius: 20px;
}

.std-image{
    position: relative;
    /* width: 100%; */
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.std-name {
    color: white;
    font-size: 28px;
}

.std-price {
    color: grey;
    font-size: 20px;
}

.std-description {
    color: lightblue;
    font-size: 15px;
}

.std-edit-btn {
    border:rgb(4, 4, 32);
    outline: 0;
    padding: 6px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 40%;
    font-size: 16px;
}

.std-edit-btn:hover {
    opacity: 0.7;
}

.prm-container{
    padding: 0 10vw;
    display: flex;
}

.prm-packages{
    /* flex: 0 0 auto; */
    width: 500px;
    height: 450px;
    /* background-color: lightgrey; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    margin: 20px;
    text-align: center;
    padding: 10px;
    /* border: rgba(0, 0, 0, 0.2); */
    border-radius: 20px;
}

.prm-image{
    position: relative;
    /* width: 100%; */
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.prm-name {
    color: white;
    font-size: 25px;
}

.prm-price {
    color: grey;
    font-size: 20px;
}

.prm-description {
    color: lightblue;
    font-size: 15px;
}

.prm-edit-btn {
    border:rgb(4, 4, 32);
    outline: 0;
    padding: 6px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 40%;
    font-size: 16px;
}

.prm-edit-btn:hover {
    opacity: 0.7;
}

.add-prm-btn {
    border:rgb(5, 5, 57);
    border-radius: 15px;
    outline: 0;
    padding: 6px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 30%;
    height: 50%;
    font-size: 18px;
}

.add-prm-btn:hover {
    opacity: 0.7;
}

