# dependencies
frontend/node_modules


# testing
coverage

# production
build
frontend/node_modules/.cache/default-development
frontend/node_modules/.cache/.eslintcache
frontend/node_modules/.cache/default-development/0.pack
frontend/node_modules/.cache/default-development/3.pack
frontend/node_modules/.cache/default-development/4.pack
frontend/node_modules/.cache/default-development/6.pack
frontend/node_modules/.cache/default-development/7.pack
frontend/node_modules/.cache/default-development/10.pack
frontend/node_modules/.cache/default-development/11.pack
frontend/node_modules/.cache/default-development/12.pack
frontend/node_modules/.cache/default-development/13.pack
frontend/node_modules/.cache/default-development/index.pack
frontend/node_modules/.cache/default-development/index.pack.old
frontend/node_modules/.cache/default-development/0.pack
frontend/node_modules/.cache/default-development/10.pack
frontend/node_modules/.cache/default-development/11.pack
frontend/node_modules/.cache/default-development/index.pack
frontend/node_modules/.cache/default-development/index.pack.old
frontend/node_modules/.cache/default-development/0.pack
frontend/node_modules/.cache/default-development/1.pack
frontend/node_modules/.cache/default-development/4.pack
frontend/node_modules/.cache/default-development/8.pack
frontend/node_modules/.cache/default-development/9.pack
frontend/node_modules/.cache/default-development/12.pack
frontend/node_modules/.cache/default-development/13.pack
frontend/node_modules/.cache/default-development/17.pack
frontend/node_modules/.cache/default-development/index.pack
frontend/node_modules/.cache/default-development/index.pack.old
frontend/node_modules/.cache/default-development/0.pack
frontend/node_modules/.cache/default-development/1.pack
frontend/node_modules/.cache/default-development/4.pack
frontend/node_modules/.cache/default-development/8.pack
frontend/node_modules/.cache/default-development/9.pack
frontend/node_modules/.cache/default-development/12.pack
frontend/node_modules/.cache/default-development/13.pack
frontend/node_modules/.cache/default-development/17.pack
frontend/node_modules/.cache/default-development/index.pack
frontend/node_modules/.cache/default-development/index.pack.old
frontend/node_modules/.cache/.eslintcache
