frontend/build/static/js/main.e738a633.js
frontend/build/static/js/main.e738a633.js.LICENSE.txt
frontend/build/static/js/main.e738a633.js.map
frontend/build/asset-manifest.json
frontend/build/
frontend/build/asset-manifest.json
frontend/build/asset-manifest.json
frontend/build/index.html
backend/node_modules/call-bind/.nycrc
backend/node_modules/accepts/README.md
