@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); /*Font of title*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /*Font of body*/

#home-body{
    background-image:url('../images/LandingPage/bodybg.png');
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

/*Title Section*/
#title{
    background-image:url('../images/LandingPage/Home-cover.png');
    background-color: #cccccc; /* Used if the image is unavailable */
    height: fit-content; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#title-text{
    color: white;
    font-size: 120px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding-top: 250px;
    text-shadow: 4px 4px 8px black;
}

#title-btn-section{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 300px;
}

#title-button{
    border-radius: 40px;
    margin: 30px;
    padding: 10px 20px;
    width: 200px;
    background-color: aliceblue;
    color: #000;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#title-button:hover{
    background-color: #000;
    color: aliceblue;
}
/*end of title section*/



/*About section*/
.col-centered{
    float: none;
    margin: 0 auto;
}

#about{
    padding: 50px;
    margin: 50px;
}

#aboutus-texts-section{
    color: white;
    font-family: 'Anton', sans-serif;
    text-align: left;
    padding-top: 40px;
    text-shadow: 4px 4px 8px black;
}

#about-title{
    font-size: 60px;
    padding-bottom: 5px;
}

#about-discription{
    font-size: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}


#aboutus-img-section{
    padding-right: 20px;
}

#aboutus-img{
    width:"500px";
    height:"100%";
}
/*end of about section*/


/*location section*/
#location{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    background-color: #cccccc;
    border-radius: 40px;
}

#location-title{
    color: black;
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    text-align: left;
    padding-top: 5px;
}

#contact-info{
    padding-top: 15px;
    padding-left: 10px;
}

#location-discription{
    color: black;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

#contact-info-list{
    padding-top: 10px;
    padding-left: 100px;
}
/*location section*/


/*quetitons*/
    
/*quetitons*/