.results-list {
    width: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-left:1000px;
    max-height: 300px;
    overflow-y: auto;
  }