body {
    background: rgb(4, 2, 10);
}

.images {
    height: 200px;
    filter: drop-shadow(0 0 0.75rem rgb(14, 13, 14));
    border-radius: 30px;
}

.cancel {
    text-align-last: right;
}

.search {
    border-radius: 50px;
    width: auto;
}