@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); /*Font of title*/

#dashboard-title{
    color: lavender;
    font-size: 70px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding-top: 20px;
    text-shadow: 4px 4px 8px black;
}

#cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left:20px;
    margin-right: 20px;
}

.dsbd-cards{
    width: fit-content;
    height: 200px;
    background-color: #f5f5f5;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
}