#ManagerDashboard{
    margin: 10px;
    background-color:black;
}

#ManagerDashboard #ManagerDashboard-Title{
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 40px;
    font-weight: bold;
    color: aliceblue;
}

#ManagerDashboard #ManagerDashboard-search{
    padding-bottom: 20px;
}


#ManagerDashboard #ManagerDashboard-users-table thead{
    background-color: #4385c6;
    color: aliceblue;
}

#ManagerDashboard #ManagerDashboard-users-table tbody{
    
}

#ManagerDashboard #ManagerDashboard-users-table button{
    border-radius: 30px;
}

#ManagerDashboard #ManagerDashboard-users-table button:hover{
    color: blue;
    background-color: aliceblue;
    border-color: #4385c6;
    font-weight: bold;
}

#ManagerDashboard #ManagerDashboard-user-report{
    padding-top: 30px;
    padding-bottom: 20px;
}

#ManagerDashboard #ManagerDashboard-user-report button{
    border-radius: 40px;
    font-size: 20px;
    padding: 10px;
}

#ManagerDashboard #ManagerDashboard-user-report button:hover{
    color: blue;
    background-color: aliceblue;
    border-color: #4385c6;
    font-weight: bold;
}