@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
.contactPara{
    font-weight: 300;
    color: #fff;
}
.contact_container{
    width:100%;
    display: flex;
    justify-content:center ;
    align-items: center;
    margin-top: 30px;
}
.contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact-box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contact-icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.contact-text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contact-text h3{
    font-weight: 500;
    color:#00bcd4;
}
.contactcontainer{
    height:450px;
    width:600px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 5px;
    margin-left: 300px;
    justify-content: center;
    box-shadow: 0 0 8px rgba(250,250, 250, 0.6);
    align-items: center;
}
.my-input{
    width:400px;
}
.contactid{
    margin-top: 10px;
    position: relative;
}
form input:focus,
form textarea :focus{
    border: 1px solid #5900ff;
    color: #5900ff;
    transition: all 0.3s ease;
}
form input:focus::placeholder,
form textarea:focus::placeholder{
    padding-left: 4px;
    color: #5900ff;
    transition: all 0.3s ease;
}
form input:focus + i{
    color: #5900ff;
    transition: all 0.3s ease;
}
#button_style{
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 100px;
    width:400px;
    
}
.contactMessage{
    margin-top: 20px;
    margin-left: -25px;
    width:400px;
}