.approvalsection {
    margin: 0%;
    padding: 0%;
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../../images/CustomerAffairs/backimg4.png);
    background-size: cover;
    background-position: absolute;
    filter:brightness(80%)
  }
  

/* accept and reject btn styles in table */
.accept_btn {
    background: rgb(4, 4, 32) !important;
    border: 1px solid white !important;
    border-radius: 50px !important;
    font-weight: 500 !important;
    padding: 0.3rem !important;
    color: var(--text-color);
    font-size: 1rem;
    width: 100px;
    text-transform: capitalize;
  }
  
  .reject_btn {
    background: rgb(64, 14, 14) !important;
    border: 1px solid white !important;
    border-radius: 50px !important;
    font-weight: 500 !important;
    padding: 0.3rem !important;
    color: var(--text-color);
    font-size: 1rem;
    text-transform: capitalize;
    width: 100px;
  }
  
  
  .accept_btn:hover,
  .reject_btn:hover {
    background: rgb(255, 255, 255) !important;
    color: #000000 !important;
    border: 1px solid black !important;
    border-radius: 50px !important;
    font-weight: 500 !important;
    padding: 0.3rem !important;
  }
  
  .feedbackrep_btn{
    margin-left: 700px;
    margin-top: 40px;
    border: none;
    background: #00fff0;
    color: #222;
    width: 300px;
    height:75px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 6px;
  }
  .ratingsrep_btn{
    margin-left: 90px;
    margin-top: 40px;
    border: none;
    background: #00fff0;
    color: #222;
    width: 300px;
    height:75px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 6px;
  #btn_position{
    width:300px;
    margin-left: 600px;
  }
  #inst_btn_position{
    width:300px;
    
  }
  
  .Buttonsdiv{
    display: flex;
    flex-direction: row;
  }
}