.optionssec{
    height:550px;
}
.Optionscontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50px;
    margin: auto;
    justify-content: center;
    height:300px;
    width: 50%;
    box-shadow: 0 0 8px rgba(250,250, 250, 0.6);
    opacity: 0.6;

}

#servicebutton{
    width:280px;
    margin-top: 20px;
}

