
.instructor-container{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top:8%;
}
.instructor-container .instructor-card{
    width:208px;
    position: relative;
    height: 300px;
    background: #f0f0f0;
    margin: 30px 10px;
    padding:20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 10px#e6e6e6;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
}
.instructor-container .instructor-card .imgBx{
    position: relative;
    width: 160px;
    height: 160px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,1.2);
}
.instructor-container .instructor-card .imgBx img{
    max-width:100%;
    border-radius: 10px;

}
.imgBx:hover img{
    transform:scale(1.1);
}
.instsearchbar{
    padding-left: 1000px;
    display:flex;
    flex-direction: row;
}

.search {
    border-radius: 50px;
    width: auto;
}
.nav-style{
    height:40px;
    width:40px;
}
.search-bar-container {
    padding-top: 20vh;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
  }