* {
  margin: 0;
  padding: 0;
}


:root {
  /* midnight blue  */
  --primary-color: #191970;
  /* denim blue  */
  --secondary-color: #6F8FAF;
  --heading-color: #E6E6FA;
  --text-color: #c5c6ca;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

/* heading  */
.title {
  margin: 1em 0 0.5em 0;
  color: #9d9595;
  text-align: center;
  font-family: 'Ultra', sans-serif;
  font-size: 1.8rem;
  line-height: 42px;
  text-transform: uppercase;
  text-shadow: 0 2px rgb(255, 244, 244), 0 3px #777;
}

label {
  font-weight: 500;
  font-family: 'Titillium Web', sans-serif;
  text-shadow: 0 -1px 1px rgba(21, 21, 21, 0.4);
  font-size: 1.2rem;
  color: #c5c6ca;
  text-transform: capitalize;
}

section {
  margin: 15px 50px 10px 50px;
  padding: 1px 80px 18px 70px;
  background: rgb(21, 23, 30);
  border-radius: 30px;
  box-shadow: rgba(2, 2, 2, 0.12) 0px 2px 4px 0px, rgba(0, 0, 0, 0.32) 0px 2px 16px 0px;
}



/* 3 button styles */

.primary__btn {
  background: var(--primary-color) !important;
  border: 1px solid white !important;
  border-radius: 50px !important;
  font-weight: 500 !important;
  padding: 0.4rem 2rem !important;
  color: var(--text-color);
  font-size: 1rem;
  text-transform: capitalize;
}

.primary__btn:hover {
  background: var(--secondary-color) !important;
  color: #000000 !important;
  border: 1px solid white !important;
  border-radius: 50px !important;
  font-weight: 500 !important;
  padding: 0.4rem 2rem !important;

}

.secondary__btn {
  background: var(--secondary-color) !important;
  color: #000000 !important;
  border: 1px solid white !important;
  border-radius: 50px;
  font-weight: 500 !important;
  padding: 0.4rem 1.5rem !important;

}

.secondary__btn:hover {
  background: var(--primary-color) !important;
  border: 1px solid white !important;
  border-radius: 50px !important;
  font-weight: 500 !important;
  padding: 0.4rem 1.5rem !important;
  color: white;
}

.tertiary_btn {
  background: rgb(5, 5, 67) !important;
  color: #ffffff !important;
  border: 2px solid white !important;
  border-radius: 50px !important;
  font-weight: 500 !important;
  padding: 0.5rem 1.3rem !important;
  text-decoration: none;
  font-size: 0.8rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.tertiary_btn:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}

/* radio button style */
.radio {
  height: 18px;
  width: 18px;
}

/* dropdown style */
select {
  padding: 3px 0 6px 15px;
  background: rgb(192, 196, 192);
  color: rgb(26, 24, 24);
  cursor: pointer;
  border: 1px solid black;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: 500;
  width: 247px;
  text-transform: capitalize;
}

option {
  font-size: 1rem;
  font-weight: 500;
}


/* TextInput */
input {
  padding: 3px 0 6px 15px;
  background: rgb(192, 196, 192);
  color: rgb(26, 24, 24);
  cursor: pointer;
  border: 1px solid black;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: 500;
  width: 245px;
  text-transform: capitalize;
}

/* textarea input  */

textarea {
  padding: 5px;
  background: rgb(192, 196, 192);
  color: rgb(26, 24, 24);
  cursor: pointer;
  border: 1px solid black;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: 500;
  width: 250px;
}

textarea::placeholder {
  color: rgb(13, 9, 9);
  font-size: 0.8rem;
}


/* react icon styles */
.i {

  font-size: 2rem;
  color: var(--heading-color);

}

/* table style  */
/* <Table dark striped bordered hover responsive> */

thead,
th {
  text-align: center;
  border: 1px solid rgb(111, 110, 110);
  font-size: 1.2rem;
  padding: 10px 2px;
}

td {
  text-align: center;
}




/* edit and delete btn styles in table */

.edit_btn {
  background: rgb(4, 4, 32) !important;
  border: 1px solid white !important;
  border-radius: 50px !important;
  font-weight: 500 !important;
  padding: 0.3rem !important;
  color: var(--text-color);
  font-size: 1rem;
  width: 100px;
  text-transform: capitalize;
}

.delete_btn {
  background: rgb(64, 14, 14) !important;
  border: 1px solid white !important;
  border-radius: 50px !important;
  font-weight: 500 !important;
  padding: 0.3rem !important;
  color: var(--text-color);
  font-size: 1rem;
  text-transform: capitalize;
  width: 100px;
}


.edit_btn:hover,
.delete_btn:hover {
  background: rgb(255, 255, 255) !important;
  color: #000000 !important;
  border: 1px solid black !important;
  border-radius: 50px !important;
  font-weight: 500 !important;
  padding: 0.3rem !important;
}


/* calender styles */
.calender {
  width: 200px;
}