div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 70%;
    height: auto;
  }
  
  div.desc {
    padding: 30px;
    text-align: center;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 40%;
    padding: 7px;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

 