.payment-success {
    text-align: center;
  }
  
  .payment-success h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .payment-success .payment-details {
    display: inline-block;
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .payment-success .payment-details p {
    margin: 0;
    line-height: 1.5;
  }
  
  .payment-success .payment-details p span {
    font-weight: bold;
    margin-left: 10px;
  }
  
  .payment-success .report-validity {
    margin-bottom: 20px;
  }
  
  .payment-success .membership-card-note {
    font-style: italic;
  }