#countdown-clock {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }
  
  #minutes, #seconds {
    display: inline-block;
    width: 50px;
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
  }