#search-bar{
    /* margin-left: 15px; */
    width: 98%;
    margin:auto;
    margin-bottom: 5px;
}
#search-bar div{
    /* margin-left: 15px; */
    width: 100%;
}
@media (max-width: 1000px) {
    #search-bar{
        width: 95%;
    }
  }

section {
    margin: 15px 0px 10px 0px;
    padding: 0px;
    background: rgba(21, 23, 30, 0.832);
    border-radius: 30px;
    /* From https://css.glass */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(61, 60, 60, 0.06);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(36, 35, 35, 0.48);
}

.MuiSvgIcon-root path {
    fill: white; /* Change the fill color to white */
}

.MuiToolbar-root .MuiInputBase-root {
    background-color: #f5f5f5;
}

.MuiToolbar-root .MuiInputBase-input {
    color: #333;
}

.MuiTableCell-root {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    border-right: 1px solid rgba(224, 224, 224, 1);
}

.MuiTypography-h6 {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    color: white;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active {
    color: rgba(72, 171, 243, 0.54) !important;
}

.MuiTableSortLabel-root:hover {
    color: rgba(72, 171, 243, 0.54) !important;
}

.MuiButtonBase-root {
    width: max-content;
}

.MuiButton-label {
    color: white;
}

.MuiButton-contained.Mui-disabled {
    background-color: rgba(72, 171, 243, 0.54) !important;
}